.row
  .columns.medium-12
    = image_tag 'logo.png', class: "logo"

    %h1 Much home, so index
    %p
      Here be text.

.row
  .columns.medium-6
    This is half a page.
  .columns.medium-6
    This is also half a page.
