.row
  .columns.medium-12
    = image_tag 'logo.png', class: "logo"

.row
  .columns.medium-12
    %h1.title Einfach und direkt zur richtigen Klinikstelle!
    %p.center
      %a{class: "button radius", href: "#"} zum Fragebogen

.row
  .columns.medium-6.medium-offset-3.center
    %p
      .strong
        enemedimu GbR
      Oliver Br&uuml;mmer &amp; Matthias Lenz
      %br
      Tauberstrasse 3
      %br
      68167 Mannheim
    %p
      %a{href: "mailto:hello@enemedimu.de"} hello@enemedimu.de
    %p
      .strong
        Gesch&auml;ftsf&uuml;hrer
      Mathias Lenz
      %br
      Oliver Br&uuml;mmer
